.option{
    user-select: none ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    color: #fff;
}

.option:hover{
    background-color: #d1d1d1;
}

.optionsOpened{
  background-color: #f5f5f5;
}

.subOption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 35px;
    cursor: pointer;
}

.subOption:hover{
  background-color: #d1d1d1;
}

.firstOption{
  user-select: none ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  color: #fff;
}

.firstOption:hover{
    background-color: #d1d1d1;
    border-radius: 18px 18px 0px 0px;
}